.cardcontainer {
    padding: 15px;
    background-color: rgb(41, 6, 177);
    border: 2px solid rgb(4, 13, 115);
    border-color: snow rgb(227, 220, 220) snow rgb(207, 203, 202);
    box-shadow: 0px 0px 10px rgb(26, 2, 240);
    border-width: 5px;
    border-radius: 5%;
    transition: transform 0.2s ease;
}
.cardcontainer:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.cardstatus {
    font-weight: bolder;
    background-color: rgba(220, 239, 7, 0.982);
    color: rgb(8, 14, 188);
    margin: 0%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
    width: fit-content;
    
}


.innerconatiner {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardeventname {
    color: rgb(5, 4, 4);
    background-color: rgb(245, 244, 244);
    padding: 10px;
    border-radius: 10px;

}

.cardimage {
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    margin: 0%;
    border-radius: 30px;
}

.cardfield {
    letter-spacing: 0.5px;
}

.carddescription {
    background-color: rgb(194, 188, 220);
    padding: 10px;
    border-radius: 10px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #5510f5, 0 0 20px #fff, 0 0 30px #2b21ac, 0 0 40px #9600e6, 0 0 50px #9c05ed;
    }

    to {
        text-shadow: 0 0 20px #ef0686, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #fe2a94, 0 0 60px #ff4da6, 0 0 70px #ff4da6;
    }
}

.cardfield {
    /* font-size: 80px; */
    color: #fffdfb;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}