.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: fit-content;
    
    margin-bottom: 0%;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.leftfooter{
    
}
.rightfooter{
}
@media(max-width:630px){
    .footercontainer{
        flex-direction: column;
        width: -webkit-fill-available;
    }
}