body{
    background-image: url('./assets/open-source-high-resolution-logo.webp');
    background-size: cover ; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;  
}
@media  (max-width: 660px) {
  body{
    background-image: url('./assets/open-source-high-resolution-logo.webp');
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    object-fit: fill;
    object-position: center;
    width: fit-content;
  }
  
} 
head{
  width: fit-content;
}
/* @media  (min-width: 1291px) {
  body{
    background-image: url('./assets/open-source-high-resolution-logo.webp');
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    object-fit: fill;
    object-position: center;
    
  }
  
}  */