.elementcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 11px;
    transition: transform 0.5s;
    /* background-color: burlywood; */
   /* width: 100vw; */
}
.elementcontainer:hover{
    height: fit-content;
    box-shadow: 3px 4px 6px navajowhite;
    font-size: large;
    transform: scale(1.08); 
    cursor: pointer;
}
.iconsimport {
    color: rgb(42, 0, 254);

}

.featureelement {
    
    color: rgb(249, 245, 248);
    font-family: sans-serif;
    padding: 7px;
    /* margin-top: 5px; */
    height: fit-content;
    font-weight: bolder;
    letter-spacing: 1px;
}
@media  (max-width: 1032px) {
    .elementcontainer2 {
        display: none;
    }
    

}
