.mainheader{
    
    margin-left: 40px;
    margin-right: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7) ;
    border-radius: 10px;
    box-shadow: 1px,2px,10px, #eded;
    width: 100vw;
    /* overflow: hidden; */
 
  position: fixed; 
  top: 0; 
  z-index: 1;
}
.combinedpart{
    display: flex;
    justify-content: space-between;
    padding: 11px;
}
.headerlogo{
    height: 70px ;
    

}
#righthead{
    margin-top: 7px;
}
@media  (max-width: 1032px) {
    
    #righthead{
        display: flex;
        justify-content: end;
        /* align-items: end; */
    }
    

}
@media  (max-width: 1032px) {
    .combinedpart{
        width: 49%;
        
    }
    
}
@media  (max-width: 660px) {
    .headerlogo{
        height: 60px
    }
    .combinedpart{
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    
}
@media  (max-width: 500px) {
    .headerlogo{
        padding-top: 8px;
        padding-left: 4px;
        height: 34px
    }
    .mainheader{
        margin-left: 0%;
        margin-right: 0%;
        width: 100vw;
        position: relative;
    }
    #righthead{
        margin-top: 0%;
    }
    .combinedpart{
        width: 100vw;

    }
}
/* @media(width: 435px){
    .mainheader{
        width: 300px;
    }
} */
