.searchContainer {
    /* width: 220px; */
    height: 30px;
    background-color: aliceblue;
    margin: 10px;
    margin-top: 18px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 4px 13px #909295;
    border-radius: 15px;
    align-items: center;
}
@media (max-width: 500px){
    .searchContainer{
        margin-top: 10px;
        width: fit-content;
        height: auto;
    }
}
input{
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 700;
}
input:focus{
    outline: none;
    
}
@media  (max-width: 900px) {
    input{
        width: fit-content;
    }
}
/* @media (max-width: 660px){
    .searchContainer{
        width: fit-content;
        margin-top: 6px;
    }
    input{
        width: 140px;
    }
} */

#clicksearch {
  color: rgb(129, 22, 40);
  
}